%flexColumnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%overflowHiddenNoOutlinePointer {
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

%w60 {
  width: 60%;
}