@import './variables.scss';

.app {
  display: $flex;
  justify-content: $center;
}

.form {
  display: $flex;
  flex-direction: $column;
  border: $border;
  width: $form-width;
  margin: 0 auto;

  .form__container {
    display: $flex;
    flex-direction: $column;
    align-items: $center;
    border: none;
    border-bottom: 1px solid #000;
    margin: 0;
  }

  .form__container:nth-last-of-type(1) {
    border-bottom: none;
  }

  .form__itemContainer {
    display: $flex;
    flex-direction: $column;
    align-items: $center;
    position: relative;
    width: 50%;
  }

  .form__label {
    margin-bottom: 5px;
  }

  .form__item {
    margin-bottom: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid $black;
  }

  .form__itemCheckbox {
    flex-direction: row;
    justify-content: $center;
  }

  .form__select {
    margin-bottom: 25px;
  }

  .form__submit {
    margin-top: 5px;
    align-self: $center;
    width: 15%;
    height: 30px;
    background-color: #42b983;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #43b380c2;
      transition: .3s;
    }
  }

  .form__warning {
    align-self: flex-end;
    margin: 10px 5px 5px 0;
  }

  .form__selectMultiple {
    overflow: hidden;
    outline: none;
    cursor: pointer;
  }
  .form__itemSms {
    margin: -5px 0 0 5px;
  }

  .form__selectMultipleError {
    border-color: $red;
  }

  .form__error {
    margin-bottom: .5rem;
    color: $red;
    opacity: 0;
    font-size: 12px;
    position: absolute;
    top: 70%;
  }

  .form__errorSelectMultiple {
    top: 80%;
  }

  .form__inputError {
    border-bottom-color: $red;
    transition: .4s;
  }

  .form__errorActive {
    transition: .5s;
    opacity: 1;
  }
}
